In [29]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('all_avg_df.csv')
df

,Unnamed: 0,team,kills,deaths,assists,doublekills,triplekills,quadrakills,pentakills,firstblood,...,csat10,golddiffat10,xpdiffat10,csdiffat10,goldat15,xpat15,csat15,golddiffat15,xpdiffat15,csdiffat15
0,0,SANDBOX Gaming,10.262626,11.969697,24.424242,1.212121,0.161616,0.020202,0.010101,0.434343,...,325.606061,9.606061,8.474747,3.838384,24015.101010,29121.252525,512.252525,287.131313,16.878788,1.404040
1,0,T1,12.724771,8.688073,29.990826,1.605505,0.302752,0.055046,0.000000,0.559633,...,331.990826,179.467890,56.954128,5.880734,24677.495413,29808.917431,533.045872,375.532110,-45.321101,4.155963
2,0,DRX,12.487805,10.731707,29.121951,1.430894,0.317073,0.065041,0.000000,0.414634,...,336.170732,281.065041,166.089431,5.495935,25119.788618,30306.268293,537.195122,750.365854,325.292683,8.414634
3,0,Afreeca Freecs,11.733333,12.400000,27.780952,1.400000,0.361905,0.066667,0.019048,0.561905,...,319.552381,165.342857,-110.780952,0.476190,24245.847619,28907.085714,506.161905,376.619048,-121.590476,1.666667
4,0,Invictus Gaming,6.333333,19.000000,12.000000,0.333333,0.333333,0.333333,0.000000,0.666667,...,320.333333,547.333333,648.000000,9.333333,23481.666667,28751.666667,518.333333,687.333333,-230.333333,8.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,0,Luxury Esports,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
728,0,Nongshim RedForce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
729,0,Liiv SANDBOX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
730,0,Thunder Talk Gaming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
731,0,Fredit BRION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.drop('Unnamed: 0', inplace = True, axis = 1)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 732 entries, 0 to 731
Data columns (total 61 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   team                      732 non-null    object
 1   kills                     454 non-null    float64
 2   deaths                    454 non-null    float64
 3   assists                   454 non-null    float64
 4   doublekills               454 non-null    float64
 5   triplekills               454 non-null    float64
 6   quadrakills               454 non-null    float64
 7   pentakills                454 non-null    float64
 8   firstblood                454 non-null    float64
 9   team kpm                  454 non-null    float64
 10  ckpm                      454 non-null    float64
 11  firstdragon               454 non-null    float64
 12  dragons                   454 non-null    float64
 13  elementaldrakes           454 non-null    float64
 14  infernals                 454 non-null    float64
 15  mountains                 454 non-null    float64
 16  clouds                    454 non-null    float64
 17  oceans                    454 non-null    float64
 18  elders                    454 non-null    float64
 19  firstherald               454 non-null    float64
 20  heralds                   454 non-null    float64
 21  firstbaron                454 non-null    float64
 22  barons                    454 non-null    float64
 23  firsttower                454 non-null    float64
 24  towers                    454 non-null    float64
 25  firstmidtower             454 non-null    float64
 26  firsttothreetowers        454 non-null    float64
 27  inhibitors                454 non-null    float64
 28  damagetochampions         454 non-null    float64
 29  dpm                       454 non-null    float64
 30  damagetakenperminute      454 non-null    float64
 31  damagemitigatedperminute  454 non-null    float64
 32  wardsplaced               454 non-null    float64
 33  wpm                       454 non-null    float64
 34  wardskilled               454 non-null    float64
 35  wcpm                      454 non-null    float64
 36  controlwardsbought        454 non-null    float64
 37  visionscore               454 non-null    float64
 38  vspm                      454 non-null    float64
 39  totalgold                 454 non-null    float64
 40  earnedgold                454 non-null    float64
 41  earned gpm                454 non-null    float64
 42  goldspent                 454 non-null    float64
 43  gspd                      454 non-null    float64
 44  minionkills               454 non-null    float64
 45  monsterkills              454 non-null    float64
 46  monsterkillsownjungle     454 non-null    float64
 47  monsterkillsenemyjungle   454 non-null    float64
 48  cspm                      454 non-null    float64
 49  goldat10                  454 non-null    float64
 50  xpat10                    454 non-null    float64
 51  csat10                    454 non-null    float64
 52  golddiffat10              454 non-null    float64
 53  xpdiffat10                454 non-null    float64
 54  csdiffat10                454 non-null    float64
 55  goldat15                  454 non-null    float64
 56  xpat15                    454 non-null    float64
 57  csat15                    454 non-null    float64
 58  golddiffat15              454 non-null    float64
 59  xpdiffat15                454 non-null    float64
 60  csdiffat15                454 non-null    float64
dtypes: float64(60), object(1)
memory usage: 349.0+ KB

In [7]:
df.isnull().sum()

team              0
kills           278
deaths          278
assists         278
doublekills     278
               ...
xpat15          278
csat15          278
golddiffat15    278
xpdiffat15      278
csdiffat15      278
Length: 61, dtype: int64

In [10]:
df.dropna(inplace = True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 454 entries, 0 to 695
Data columns (total 61 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   team                      454 non-null    object
 1   kills                     454 non-null    float64
 2   deaths                    454 non-null    float64
 3   assists                   454 non-null    float64
 4   doublekills               454 non-null    float64
 5   triplekills               454 non-null    float64
 6   quadrakills               454 non-null    float64
 7   pentakills                454 non-null    float64
 8   firstblood                454 non-null    float64
 9   team kpm                  454 non-null    float64
 10  ckpm                      454 non-null    float64
 11  firstdragon               454 non-null    float64
 12  dragons                   454 non-null    float64
 13  elementaldrakes           454 non-null    float64
 14  infernals                 454 non-null    float64
 15  mountains                 454 non-null    float64
 16  clouds                    454 non-null    float64
 17  oceans                    454 non-null    float64
 18  elders                    454 non-null    float64
 19  firstherald               454 non-null    float64
 20  heralds                   454 non-null    float64
 21  firstbaron                454 non-null    float64
 22  barons                    454 non-null    float64
 23  firsttower                454 non-null    float64
 24  towers                    454 non-null    float64
 25  firstmidtower             454 non-null    float64
 26  firsttothreetowers        454 non-null    float64
 27  inhibitors                454 non-null    float64
 28  damagetochampions         454 non-null    float64
 29  dpm                       454 non-null    float64
 30  damagetakenperminute      454 non-null    float64
 31  damagemitigatedperminute  454 non-null    float64
 32  wardsplaced               454 non-null    float64
 33  wpm                       454 non-null    float64
 34  wardskilled               454 non-null    float64
 35  wcpm                      454 non-null    float64
 36  controlwardsbought        454 non-null    float64
 37  visionscore               454 non-null    float64
 38  vspm                      454 non-null    float64
 39  totalgold                 454 non-null    float64
 40  earnedgold                454 non-null    float64
 41  earned gpm                454 non-null    float64
 42  goldspent                 454 non-null    float64
 43  gspd                      454 non-null    float64
 44  minionkills               454 non-null    float64
 45  monsterkills              454 non-null    float64
 46  monsterkillsownjungle     454 non-null    float64
 47  monsterkillsenemyjungle   454 non-null    float64
 48  cspm                      454 non-null    float64
 49  goldat10                  454 non-null    float64
 50  xpat10                    454 non-null    float64
 51  csat10                    454 non-null    float64
 52  golddiffat10              454 non-null    float64
 53  xpdiffat10                454 non-null    float64
 54  csdiffat10                454 non-null    float64
 55  goldat15                  454 non-null    float64
 56  xpat15                    454 non-null    float64
 57  csat15                    454 non-null    float64
 58  golddiffat15              454 non-null    float64
 59  xpdiffat15                454 non-null    float64
 60  csdiffat15                454 non-null    float64
dtypes: float64(60), object(1)
memory usage: 219.9+ KB

In [13]:
df

,team,kills,deaths,assists,doublekills,triplekills,quadrakills,pentakills,firstblood,team kpm,...,csat10,golddiffat10,xpdiffat10,csdiffat10,goldat15,xpat15,csat15,golddiffat15,xpdiffat15,csdiffat15
0,SANDBOX Gaming,10.262626,11.969697,24.424242,1.212121,0.161616,0.020202,0.010101,0.434343,0.313621,...,325.606061,9.606061,8.474747,3.838384,24015.101010,29121.252525,512.252525,287.131313,16.878788,1.404040
1,T1,12.724771,8.688073,29.990826,1.605505,0.302752,0.055046,0.000000,0.559633,0.395049,...,331.990826,179.467890,56.954128,5.880734,24677.495413,29808.917431,533.045872,375.532110,-45.321101,4.155963
2,DRX,12.487805,10.731707,29.121951,1.430894,0.317073,0.065041,0.000000,0.414634,0.394863,...,336.170732,281.065041,166.089431,5.495935,25119.788618,30306.268293,537.195122,750.365854,325.292683,8.414634
3,Afreeca Freecs,11.733333,12.400000,27.780952,1.400000,0.361905,0.066667,0.019048,0.561905,0.351745,...,319.552381,165.342857,-110.780952,0.476190,24245.847619,28907.085714,506.161905,376.619048,-121.590476,1.666667
4,Invictus Gaming,6.333333,19.000000,12.000000,0.333333,0.333333,0.333333,0.000000,0.666667,0.179200,...,320.333333,547.333333,648.000000,9.333333,23481.666667,28751.666667,518.333333,687.333333,-230.333333,8.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689,CR4ZY,13.166667,10.166667,30.166667,1.166667,0.333333,0.000000,0.000000,0.666667,0.489083,...,307.166667,-52.333333,29.833333,7.666667,25183.500000,28926.500000,477.166667,1753.166667,1176.833333,11.833333
690,LowLandLions,8.833333,27.166667,16.333333,0.666667,0.000000,0.000000,0.000000,0.500000,0.331250,...,286.166667,-35.333333,143.500000,3.666667,23797.333333,27934.833333,452.666667,914.833333,657.500000,10.000000
691,SINNERS Esports,16.750000,20.125000,37.500000,1.250000,0.125000,0.000000,0.000000,0.625000,0.478600,...,293.625000,-784.125000,-213.250000,4.625000,25428.625000,27836.375000,472.750000,-1296.625000,131.125000,15.750000
694,Samsung Morning Stars,12.000000,10.333333,33.500000,0.833333,0.000000,0.000000,0.000000,0.333333,0.348117,...,327.166667,-448.166667,-190.500000,-11.000000,24054.500000,29808.666667,525.666667,-1605.500000,-683.500000,-30.500000
695,Impunity,18.200000,14.200000,30.600000,2.200000,0.000000,0.000000,0.000000,0.200000,0.595880,...,295.400000,-121.600000,305.400000,-3.800000,24965.600000,29144.200000,481.600000,-56.400000,-129.000000,-4.400000

In [19]:
duplicates = df[df.duplicated()]

In [23]:
duplicate_index = duplicates.index.tolist()

In [38]:
for i in duplicate_index:
    df.drop(i, inplace = True)

In [39]:
df

,team,kills,deaths,assists,doublekills,triplekills,quadrakills,pentakills,firstblood,team kpm,...,csat10,golddiffat10,xpdiffat10,csdiffat10,goldat15,xpat15,csat15,golddiffat15,xpdiffat15,csdiffat15
0,SANDBOX Gaming,10.262626,11.969697,24.424242,1.212121,0.161616,0.020202,0.010101,0.434343,0.313621,...,325.606061,9.606061,8.474747,3.838384,24015.101010,29121.252525,512.252525,287.131313,16.878788,1.404040
1,T1,12.724771,8.688073,29.990826,1.605505,0.302752,0.055046,0.000000,0.559633,0.395049,...,331.990826,179.467890,56.954128,5.880734,24677.495413,29808.917431,533.045872,375.532110,-45.321101,4.155963
2,DRX,12.487805,10.731707,29.121951,1.430894,0.317073,0.065041,0.000000,0.414634,0.394863,...,336.170732,281.065041,166.089431,5.495935,25119.788618,30306.268293,537.195122,750.365854,325.292683,8.414634
3,Afreeca Freecs,11.733333,12.400000,27.780952,1.400000,0.361905,0.066667,0.019048,0.561905,0.351745,...,319.552381,165.342857,-110.780952,0.476190,24245.847619,28907.085714,506.161905,376.619048,-121.590476,1.666667
4,Invictus Gaming,6.333333,19.000000,12.000000,0.333333,0.333333,0.333333,0.000000,0.666667,0.179200,...,320.333333,547.333333,648.000000,9.333333,23481.666667,28751.666667,518.333333,687.333333,-230.333333,8.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,CR4ZY,13.166667,10.166667,30.166667,1.166667,0.333333,0.000000,0.000000,0.666667,0.489083,...,307.166667,-52.333333,29.833333,7.666667,25183.500000,28926.500000,477.166667,1753.166667,1176.833333,11.833333
345,LowLandLions,8.833333,27.166667,16.333333,0.666667,0.000000,0.000000,0.000000,0.500000,0.331250,...,286.166667,-35.333333,143.500000,3.666667,23797.333333,27934.833333,452.666667,914.833333,657.500000,10.000000
346,SINNERS Esports,16.750000,20.125000,37.500000,1.250000,0.125000,0.000000,0.000000,0.625000,0.478600,...,293.625000,-784.125000,-213.250000,4.625000,25428.625000,27836.375000,472.750000,-1296.625000,131.125000,15.750000
349,Samsung Morning Stars,12.000000,10.333333,33.500000,0.833333,0.000000,0.000000,0.000000,0.333333,0.348117,...,327.166667,-448.166667,-190.500000,-11.000000,24054.500000,29808.666667,525.666667,-1605.500000,-683.500000,-30.500000
350,Impunity,18.200000,14.200000,30.600000,2.200000,0.000000,0.000000,0.000000,0.200000,0.595880,...,295.400000,-121.600000,305.400000,-3.800000,24965.600000,29144.200000,481.600000,-56.400000,-129.000000,-4.400000