team_only_prediction.ipynb is a jupyter notebook that has as a main objective
determining if the database obtained from lol_df_creation.ipynb is optimal
to create a model to predict the results from each league of legends game
contained in the database
Copyright (C) Keshava Tonathiu Sanchez Barbosa (keshava.t.s.b@gmail.com)

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.

In [13]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import tree
from sklearn.metrics import *
import copy

In [3]:
df = pd.read_csv("team_df.csv")

In [14]:
cols = df.columns
X = copy.copy(df)

In [15]:
X.head()

,gameid,gamelength,result,kills,deaths,assists,doublekills,triplekills,quadrakills,pentakills,...,opp_vspm,opp_totalgold,opp_earnedgold,opp_earned_gpm,opp_goldspent,opp_minionkills,opp_monsterkills,opp_monsterkillsownjungle,opp_monsterkillsenemyjungle,opp_cspm
0,ESPORTSTMNT03/1241318,2220,1,17,11,33,3.0,-1.0,-1.0,-1.0,...,8.5946,62709,38687,1045.5946,62025.0,1021.0,271,193,5,34.9189
1,ESPORTSTMNT03/1241322,2227,-1,5,21,16,1.0,-1.0,-1.0,-1.0,...,10.6960,72004,47911,1290.8217,63975.0,976.0,270,126,48,33.5698
2,ESPORTSTMNT03/1241324,1711,1,21,4,34,4.0,1.0,1.0,-1.0,...,6.8030,42465,23635,828.8136,40375.0,748.0,136,107,0,30.9994
3,ESPORTSTMNT03/1241328,1999,-1,4,17,8,-1.0,-1.0,-1.0,-1.0,...,10.3552,64845,43077,1292.9565,57400.0,911.0,238,148,26,34.4872
4,ESPORTSTMNT03/1241386,1812,-1,3,21,7,-1.0,-1.0,-1.0,-1.0,...,9.8344,58837,38977,1290.6291,51785.0,802.0,197,118,20,33.0795

In [16]:
X.drop(['gameid', 'result'], axis = 1, inplace = True)

In [18]:
X.head()

,gamelength,kills,deaths,assists,doublekills,triplekills,quadrakills,pentakills,firstblood,team kpm,...,opp_vspm,opp_totalgold,opp_earnedgold,opp_earned_gpm,opp_goldspent,opp_minionkills,opp_monsterkills,opp_monsterkillsownjungle,opp_monsterkillsenemyjungle,opp_cspm
0,2220,17,11,33,3.0,-1.0,-1.0,-1.0,-1.0,0.4595,...,8.5946,62709,38687,1045.5946,62025.0,1021.0,271,193,5,34.9189
1,2227,5,21,16,1.0,-1.0,-1.0,-1.0,-1.0,0.1347,...,10.6960,72004,47911,1290.8217,63975.0,976.0,270,126,48,33.5698
2,1711,21,4,34,4.0,1.0,1.0,-1.0,-1.0,0.7364,...,6.8030,42465,23635,828.8136,40375.0,748.0,136,107,0,30.9994
3,1999,4,17,8,-1.0,-1.0,-1.0,-1.0,-1.0,0.1201,...,10.3552,64845,43077,1292.9565,57400.0,911.0,238,148,26,34.4872
4,1812,3,21,7,-1.0,-1.0,-1.0,-1.0,-1.0,0.0993,...,9.8344,58837,38977,1290.6291,51785.0,802.0,197,118,20,33.0795

In [21]:
Y = df['result']
Y

0       1
1      -1
2       1
3      -1
4      -1
       ..
4088   -1
4089   -1
4090    1
4091   -1
4092   -1
Name: result, Length: 4093, dtype: int64

In [22]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(X, Y, test_size = 0.3, random_state = 43)

In [23]:
classifier = DecisionTreeClassifier()

In [24]:
classifier.fit(Xtrain, Ytrain)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [25]:
Ypred = classifier.predict(Xtest)

In [26]:
metrics.accuracy_score(Ytest, Ypred)

0.9820846905537459